img{float: left; height: 300px; width: 300px;}
h1 { border-bottom-style:solid; color: blue; text-align: center;}  
.entre-letras{letter-spacing: 0.5em;}
.alinha-direita{text-align: right;}
label {font-weight: bold; }